.tool-draggable{
  .item {
    cursor:pointer;
    border: 1px solid #41B883;
    border-radius: 5px;
    padding: 5px;
    margin: 15px;
  }
}
.tool-menu{
  border-right: 1px solid #CBCFD4;
}
.form-group{
  margin-bottom: 15px;
}
.form-check{
  margin-right: 10px;
}